include ../elements/checkboxMod

mixin carInfo()
  +b.car-info
    +e.container.container
      +e.H1.car-name.page-title Lexus RX L IV 350L
      +e.car-equip Комплектация35 TFSI 1.4 AMT (150 л.с.) Design 35 TFSI S tronic
      +e.wrapper
        +e.info-side.gallery-preview
          +e.car-slider
            .swiper-container.gallery-top
              .swiper-wrapper
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/1sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/2sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/3sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/1sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/2sl.jpg")
              .swiper-button-next
              .swiper-button-prev
            .swiper-container.gallery-thumbs
              .swiper-wrapper
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/1sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/2sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/3sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/1sl.jpg")
                +e.car-slide.swiper-slide
                  img(src="../img/devImages/car3/2sl.jpg")
        +b.offer-side.car-info__offer-side
          +e.container(id='js-sticky-offer')
            +e.diler-info
              +e.diler-name Официальный дилер Hyundai "Каскад-М" в Оренбурге
              +e.diler-address Оренбургская область, п. Пригородный, левая сторона дороги Оренбург-Орск 12.400км
              +e.A.diler-telephone(href="tel:") +7 (3532) 37-33-79
            +e.prices
              +e.prices-price-box
                +e.price-name Спецпредложение:
                +e.price 3 399 000 ₽
              +e.prices-price-box
                +e.price-name Обычная цена:
                +e.price 4 199 000 ₽
            +e.mods
              +e.mods-title Используйте дополнительные преимущества при покупке авто:
              +e.mods-list
                +e.mod-item
                  +checkboxMod('Выгода кредита', '- 41 711 ₽')
                  +checkboxMod('Скидка за trade in', '- 80 711 ₽')
                  +checkboxMod('Максимальная скидка', '- 11 711 ₽')
              +e.see-more-mods Показать все преимущества
                +e.SPAN.more-count (8)
            +e.total-price
              +e.total-price-text Итого:
              +e.total-price-value 2 875 909 ₽
            +e.btns
              +e.btns-one.btn Получить предложение
              +e.btns-second.btn Внести предоплату
            +e.description-text *Вся представленная на сайте информация, касающаяся автомобилей и сервисного обслуживания, носит информационный характер и не является публичной офертой
        +b.info-tables
          +e.forms
            +e.forms-element
              +e.forms-element-ico
                SVG.forms-element-ico
                  USE(xlink:href="../img/spritemap.svg#tradeinform")
              +e.forms-element-info
                +e.forms-element-name Оценить свой авто
                +e.forms-element-text Выгода до 80 000 ₽
            +e.forms-element
              +e.forms-element-ico
                SVG.forms-element-ico
                  USE(xlink:href="../img/spritemap.svg#creditform")
              +e.forms-element-info
                +e.forms-element-name Рассчитать кредит
                +e.forms-element-text от 8,8% годовых
            +e.forms-element
              +e.forms-element-ico
                SVG.forms-element-ico
                  USE(xlink:href="../img/spritemap.svg#testdriveform")
              +e.forms-element-info
                +e.forms-element-name Записаться на тест-драйв
                +e.forms-element-text быстрая заявка
          +e.equip
            +e.equip-title Комплектация и опции
            +e.equip-description Описание
            +e.equip-table
              +e.equip-table-element
                +e.equip-element-key Серия
                +e.equip-element-value Значение параметра
              +e.equip-table-element
                +e.equip-element-key Комплектация
                +e.equip-element-value 2.0 MPI , Classic
              +e.equip-table-element
                +e.equip-element-key Трансмиссия
                +e.equip-element-value АКПП
              +e.equip-table-element
                +e.equip-element-key Привод
                +e.equip-element-value Передний
              +e.equip-table-element
                +e.equip-element-key Тип топлива
                +e.equip-element-value Бензиновый
              +e.equip-table-element
                +e.equip-element-key Цвет кузова
                +e.equip-element-value Синий
              +e.equip-table-element
                +e.equip-element-key Город
                +e.equip-element-value Оренбург
              +e.equip-table-element
                +e.equip-element-key Дилерский центр
                +e.equip-element-value Каскад-М Оренбург
              +e.equip-table-element
                +e.equip-element-key Статус
                +e.equip-element-value По запросу
          +e.toggle-list.toggle-list--two-column.js-toggled-list
            +e.toggle-list-title Стандартное оборудование
              .toggle-counter
            +e.UL.toggle-list-elements
              +e.LI.toggle-list-element Передние и задние брызговики
              +e.LI.toggle-list-element Зеркала заднего вида окрашенные в цвет кузова
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
          +e.toggle-list.toggle-list--two-column.js-toggled-list
            +e.toggle-list-title Стандартное оборудование
              .toggle-counter
            +e.UL.toggle-list-elements
              +e.LI.toggle-list-element Передние и задние брызговики
              +e.LI.toggle-list-element Зеркала заднего вида окрашенные в цвет кузова
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
              +e.LI.toggle-list-element Дневные ходовые огни (DRL)
          +b.tradein-form
            +e.description
              +e.info-ico
                SVG.forms-element-ico
                  USE(xlink:href="../img/spritemap.svg#tradeinform")
              +e.info-titles
                +e.info-title Обменяйте свой автомобиль на новый Hyundai
                +e.info-sub-title Выгода до 80 000 ₽
            +e.FORM.form
              +e.LABEL.form-select
                +e.form-name.form-label Марка
                +e.SELECT.form-select(name='brand').js-choice-select
                  OPTION Выберите марку
                  OPTION Mazda X-33
                  OPTION Mazda C3
                  OPTION Mazda C33
              +e.LABEL.form-select
                +e.form-element-name.form-label Модель
                +e.SELECT.form-element-select(name='brand').js-choice-select
                  OPTION Выберите модель
                  OPTION Mazda X-33
                  OPTION Mazda C3
                  OPTION Mazda C33
              +e.LABEL.form-select_year
                +e.form-element-name.form-label Год выпуска
                +e.SELECT.form-element-select(name='brand').js-choice-select
                  OPTION Выберите год
                  OPTION Mazda X-33
                  OPTION Mazda C3
                  OPTION Mazda C33
              +e.more-options.js-toggle-option-btn
                +e.SPAN.more-options-text дополнительные параметры
              +e.add-options.js-toggle-option-list
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label VIN
                  INPUT.form-input
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label Кузов
                  INPUT.form-input
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label Количество владельцев ПТС
                  INPUT.form-input
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label Комплектация
                  INPUT.form-input
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label Трансмиссия
                  INPUT.form-input
                +e.LABEL.form-input
                  +e.SPAN.input-name.form-label Пробег
                  INPUT.form-input
              +e.LABEL.form-input
                +e.SPAN.input-name.form-label Имя
                INPUT.form-input
              +e.LABEL.form-input
                +e.SPAN.input-name.form-label Телефон
                INPUT.form-input
              +e.BUTTON.send-form.btn(type='button') Отправить заявку
              +e.form-policy Нажимая на кнопку «Отправить заявку» вы соглашаетесь с пользовательским соглашением, положением о конфиденциальности и офертой

          +b.credit-form
            +e.description
              +e.info-ico
                SVG.forms-element-ico
                  USE(xlink:href="../img/spritemap.svg#tradeinform")
              +e.info-titles
                +e.info-title Кредитные и лизинговые программы
                +e.info-sub-title Срок рассмотрения 1 час
            +e.credit-type
              +e.credit-type-element.is-active Условия кредитования
              +e.credit-type-element Условия лизинга
            +e.FORM.form
              +e.ranges
                +e.ranges-element
                  +e.range-input
                    +e.name.form-label Срок кредита, мес
                  +e.section-range
                    +e.range-values
                      INPUT.js-credit-data(name='ranges'
                        type='text'
                        data-min='1'
                        data-max='12'
                        data-from='6')
                    +e.range-slider
                      .range-slider-box.js-credit-range
                +e.ranges-element
                  +e.range-input
                    +e.name.form-label Сумма кредита, ₽
                  +e.section-range
                    +e.range-values
                      INPUT.js-credit-summ(name='ranges'
                        type='text'
                        data-min='100000'
                        data-max='3000000'
                        data-from='1500000')
                    +e.range-slider
                      .range-slider-box.js-summ-range
              +e.info-labels
                +e.info-label
                  +e.info-label-text.form-label Первоначальный взнос
                  +e.info-label-value от 200 000
                +e.info-label
                  +e.info-label-text.form-label Ежемесячный платеж
                  +e.info-label-value от 68 900
                +e.info-label
                  +e.info-label-text.form-label Процентная ставка
                  +e.info-label-value от 8,8%
              +e.LABEL.form-input
                +e.SPAN.input-name.form-label Имя
                INPUT.form-input
              +e.LABEL.form-input
                +e.SPAN.input-name.form-label Телефон
                INPUT.form-input
            +e.BUTTON.send-form.btn(type='button') Отправить заявку
            +e.form-policy Нажимая на кнопку «Отправить заявку» вы соглашаетесь с пользовательским соглашением, положением о конфиденциальности и офертой


